:root {
  --branco: #fff;
  --preto: #000;
  --cinza: #ccc;
  --topo: 	#053007;
  --topoFonte: #ecf1ec;
  --fonte: 'Inter', sans-serif;
  --corBtn: #05311d; 
  --corBtnHover: #275842; 
}

.App {
  text-align: center;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0px;
  font-family: var(--fonte);
  font-size: 1rem;
}

.btn {
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 4px;    
}

.btn:hover {
  background-color: var(--corBtnHover);
}

.texto {
  max-width: 80%;
  text-align: left;
  margin:auto;
  color: var(--topo);
  font-size: 14px;
}

